[Desktop Entry]
Version=1.0
Type=Application
Name=Quickbox
Comment=GTK4 GUI for quickemu
Exec=quickbox
Icon=quickbox
Categories=System;Emulator;
Keywords=vm;virtual;machine;quickemu;qemu;
Terminal=false
StartupNotify=true
StartupWMClass=quickbox
