[Desktop Entry]
Version=1.0
Type=Application
Name=Quickbox
Comment=GTK4 GUI for quickemu
Exec=quickbox
Icon=quickbox
Categories=System;Emulator;
Terminal=false
StartupNotify=true
StartupWMClass=Quickbox
